<!DOCTYPE html>
<html lang="th">

<head>
    <script src="scoll.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

            .Container {
                margin: 5% 0% 0%;

                margin-left: 4%;
                /* border: 1px solid black; */
                display: flex;
                justify-content: center;
                font-family: "Noto Sans Thai", sans-serif;


            }

            .Header {
                /* border: 1px solid black; */
                width: 600px;
                height: 500px;
                margin-left: 40%;


                .header_title {
                    h1 {
                        color: #fff;
                        font-size: 50px;
                        box-shadow: #000 1px 2px;
                        background-color: #33333321;
                        padding: 5px;
                    }
                }

                .text-content-header-info {
                    margin-top: 20px;
                    font-size: 20px;
                    /* border: 1px solid black; */
                    color: #565656;
                }

                .img_chibi {

                    /* border: 1px solid black; */
                    width: 350px;
                    margin-top: 15%;

                    img {
                        width: 100%;
                    }
                }
            }

            .Community {
                margin-top: 20px;
                border: 1px solid black;
                width: 1250px;
                height: auto;
                box-shadow: rgba(0, 0, 0, 0.178) 5px 5px;

                .header-community {
                    display: flex;
                    gap: 30px;
                    padding: 10px;
                    padding-bottom: 3px;

                    background-color: hsla(0, 0%, 100%, 0.61);
                    ;
                    align-items: center;

                    p {
                        color: #000;
                        font-size: 24px;
                        font-weight: bold;
                        padding-left: 10px;
                    }
                }
            }

            .data_user {
                padding: 10px;
                
            }

            .data-user-info {
                /* display: flex; */
                
                border:  1px solid  black;
                font-size: 24px;


                a {
                    text-decoration: none;
                }

                
                    p{
                        color: #FFF;
                        padding-right: 10px;
                        margin-bottom: 0%;
                        padding: 10px;
                        
                    }
                }
                .date-time{
                        background-color: #565656;
                        
                    }
                    .questions_member_add_question{
                       
                       

                        align-self: flex-end;
                        
                    }
            .pageLink{
                padding: 10px;
                text-align: center;
                
                p{

                    color:#fff;
                    font-weight: bold;
                    font-size: 24px;
                    text-decoration: none;
                }
            }
            .img_question{
                width: 180px;
                margin-left: 10px;
                margin-top: 5px;
            }
            .img_question img {
                width: 100%;
                height: auto;
            }

            .fade-content{
        animation-name: fade;
        animation-duration: 2s;
    }

    @keyframes fade{
        from { opacity: 0;}
        to { opacity: 1}
    }

        </style>
</head>

<body class="fade-content"
    style="background-image: url('https://nxm-clw-cdn.dn.nexoncdn.co.kr/bluearchive/img/events/2024/01/update_l123ow/bg.jpg');  background-size: cover; background-repeat: no-repeat; ">
    <%- include('layouts/nav') %>

        <div id="container" class="Container">
            <div class="main">
                <div class="Header">
                    <div class="header_title">
                        <h1>Abydos High School</h1>
                    </div>
                    <div class="text-content-header-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum labore numquam, itaque nisi
                            iusto fuga sed natus ullam provident, non veritatis mollitia dicta ipsa perferendis culpa,
                            ad nam laudantium earum.</p>
                    </div>
                    <div class="img_chibi">
                        <img src="https://nxm-clw-cdn.dn.nexoncdn.co.kr/bluearchive/img/events/2024/03/festival_3okew9/program/obj2.png"
                            alt="">
                    </div>
                </div>
                <div class="Community">
                    <div class="header-community">
                        <h1>News</h1>
                    </div>
                    <div class="data_user">
                        <tbody>
                            <%
                            const m = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 
                                        'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 
                                        'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']
                        
                            for (d of data) {
                                let dt = new Date(Date.parse(d.date_posted))
                                let df = `${dt.getDate()} ${m[dt.getMonth()]} ${dt.getFullYear() + 543}`
                            %>
                                <div class="data-user-info">   
                                        <div class="date-time">
                                            <p>
                                                <%= df %>
                                            </p>
                                        </div>
                                        <div class="questions" style="">
                                            <div class="img_question">
                                                <% if (d.image_file && d.image_file != '') { %>
                                                    <img id="question_image" src="/webboard-images/<%= d.image_file %>">
                                                <% } %>
                                            </div>
                                            <p>
                                                <a href="/webboard/question-detail-and-answers/<%= d._id %>">
                                                    <%= d.question %>
                                                </a>
                                            </p>        
                                        </div>
                                        <div class="questions_member_add_question">
                                            
                                            <div class="member_add_question" style="display: flex;"> 
                                                <p>
                                                    user:  <%= d.questioner %>
                                                </p>
                                                <p>
                                                   answer:   <%= d.num_answers %>
                                                </p>
                                            </div>
                                        </div>
     
                                </div>

                                <% } %>
                        </tbody>
                    </div>  
                    <div class="pageLink">
                        <p> <%- pageLink %></p>                     
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="Click-to-top">
            <img onclick="scrollToTop()" src="https://nxm-clw-cdn.dn.nexoncdn.co.kr/bluearchive/img/events/2024/03/festival_3okew9/btn_go-top.png" alt="">
        </div>
        -->
</body>

</html>



